.testimonial-group>.row {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.testimonial-group>.row>.col-3 {
    display: inline-block;
}

.tatooine1 {
    color: black;
    background-color: rgb(177, 166, 160);
    border-color: rgb(113, 104, 98);
}

.tatooine1:hover {
    color: whitesmoke;
    background-color: rgb(113, 104, 98);
    border-color: rgb(177, 166, 160);
}

.tatooine1.focus,
.tatooine1:focus {
    box-shadow: 0.2rem .2rem .2rem .2rem rgb(113, 104, 98)
}

.tatooine2 {
    color: black;
    background-color: rgb(113, 104, 98);
    border-color: rgb(177, 166, 160);
}

.tatooine2:hover {
    color: whitesmoke;
    background-color: rgb(177, 166, 160);
    border-color: rgb(113, 104, 98);
}

.tatooine2.focus,
.tatooine2:focus {
    box-shadow: 0.2rem .2rem .2rem .2rem rgb(177, 166, 160)
}

.rebelalliance1 {
    color: rgb(145, 6, 22);
    background-color: rgb(230, 230, 220);
    border-color: rgb(230, 230, 220);
}

.rebelalliance1:hover {
    color: rgb(230, 230, 220);
    background-color: rgb(145, 6, 22);
    border-color: rgb(145, 6, 22);
}

.rebelalliance1.focus,
.rebelalliance1:focus {
    box-shadow: .2rem .2rem .2rem .2rem rgb(230, 230, 220);
}

.rebelalliance2 {
    color: rgb(230, 230, 220);
    background-color: rgb(145, 6, 22);
    border-color: rgb(145, 6, 22);
}

.rebelalliance2:hover {
    color: rgb(145, 6, 22);
    background-color: rgb(230, 230, 220);
    border-color: rgb(230, 230, 220);
}

.rebelalliance2.focus,
.rebelalliance2:focus {
    box-shadow: .2rem .2rem .2rem .2rem rgb(145, 6, 22);
}

.endor1 {
    color: rgb(94, 62, 15);
    background-color: rgb(159, 173, 84);
    border-color: rgb(94, 62, 15);
}

.endor1:hover {
    color: rgb(159, 173, 84);
    background-color: rgb(94, 62, 15);
    border-color: rgb(159, 173, 84);
}

.endor1.focus,
.endor1:focus {
    box-shadow: .2rem .2rem .2rem .2rem rgb(94, 62, 15);
}

.endor2 {
    color: rgb(159, 173, 84);
    background-color: rgb(94, 62, 15);
    border-color: rgb(159, 173, 84);
}

.endor2:hover {
    color: rgb(94, 62, 15);
    background-color: rgb(159, 173, 84);
    border-color: rgb(94, 62, 15);
}

.endor2.focus,
.endor2:focus {
    box-shadow: .2rem .2rem .2rem .2rem rgb(159, 173, 84);
}

.deathstar1 {
    color: rgb(25, 25, 25);
    background-color: rgb(120, 120, 120);
    border-color: rgb(25, 25, 25);
}

.deathstar1:hover {
    color: rgb(120, 120, 120);
    background-color: rgb(25, 25, 25);
    border-color: rgb(120, 120, 120);
}

.deathstar1.focus,
.deathstar1:focus {
    box-shadow: .2rem .2rem .2rem .2rem rgb(25, 25, 25);
}

.deathstar2 {
    color: rgb(120, 120, 120);
    background-color: rgb(25, 25, 25);
    border-color: rgb(120, 120, 120);
}

.deathstar2:hover {
    color: rgb(25, 25, 25);
    background-color: rgb(120, 120, 120);
    border-color: rgb(25, 25, 25);
}

.deathstar2.focus,
.deathstar2:focus {
    box-shadow: .2rem .2rem .2rem .2rem rgb(120, 120, 120);
}

.alderaan1 {
    color: rgb(118, 114, 66);
    background-color: rgb(158, 187, 231);
    border-color: rgb(118, 114, 66);
}

.alderaan1:hover {
    color: rgb(158, 187, 231);
    background-color: rgb(118, 114, 66);
    border-color: rgb(158, 187, 231);
}

.alderaan1.focus,
.alderaan1:focus {
    box-shadow: .2rem .2rem .2rem .2rem rgb(118, 114, 66);
}

.alderaan2 {
    color: rgb(158, 187, 231);
    background-color: rgb(118, 114, 66);
    border-color: rgb(158, 187, 231);
}

.alderaan2:hover {
    color: rgb(118, 114, 66);
    background-color: rgb(158, 187, 231);
    border-color: rgb(118, 114, 66);
}

.alderaan2.focus,
.alderaan2:focus {
    box-shadow: .2rem .2rem .2rem .2rem rgb(158, 187, 231);
}

.rebelalliance3 {
    background-image: url("https://mcdn.wallpapersafari.com/medium/76/5/dI7StV.jpg");
    width: 100%;
    height: auto;
    background-size: cover;
    display: block;
}

.endor3 {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3e954c54-d0a2-4aef-9a06-d9ca6419da97/ddfba0a-fc2ccced-e69d-476a-a8c4-0b0d63a4df71.png/v1/fill/w_1192,h_670,q_70,strp/star_wars_battlefront__endor_sunny_day_wallpaper_by_faithfullfaun1_ddfba0a-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcLzNlOTU0YzU0LWQwYTItNGFlZi05YTA2LWQ5Y2E2NDE5ZGE5N1wvZGRmYmEwYS1mYzJjY2NlZC1lNjlkLTQ3NmEtYThjNC0wYjBkNjNhNGRmNzEucG5nIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.Sbg15DzQ5qYtCNhhOgVvrBS8ll_14ZZgvvquLM1oc2k");
    width: 100%;
    height: auto;
    background-size: cover;
    display: block;
}

.tatooine3 {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/253/80/948/star-wars-building-desert-jawa-start-wars-wallpaper-preview.jpg");
    width: 100%;
    height: auto;
    background-size: cover;
    display: block;
}

.alderaan3 {
    background-image: url("https://wallpapercave.com/dwp2x/wp11285881.jpg");
    width: 100%;
    height: auto;
    background-size: cover;
    display: block;
}

.desthstar3 {
    background-image: url("https://images.alphacoders.com/107/107763.jpg");
    width: 100%;
    height: auto;
    background-size: cover;
    display: block;
}

.card {
    background: rgba(210, 210, 210, 0.1)
}